*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Poppins: 'Poppins', sans-serif;
}
/* Default Styles */
.middle{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    display: inline-block;
}

.btn{
    background-color: #e74c3c;
    padding:10px 30px;
    color: #fff;
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: var(--Poppins);
}

.hero{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
    background-size:auto;
    height: 600px;
    padding: 70px 0;
}

h1{
    font-size: 50px;
}

h3{
    padding: 25px 0;
}

.name-highlight{
    color:#e74c3c;
}

.half-width{
    width: 45%;
    float: left;
}

.half-width:first-child{
    margin-right: 5%;
}

.half-width:last-child{
    margin-left: 5%;
}

.half-width img{
    width: 100%;
}

.btn-hire-me{
    background-color: #e74c3c;
    margin-top: 20px;
    border: 2px solid transparent;
    transition: .3s;
    text-transform: uppercase;
}

.btn-hire-me:hover{
    background-color: #fff;
    border: 2px solid #e74c3c;
    color: #e74c3c;
}

